<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Friend</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #4CAF50;
            font-weight: normal;
        }
    </style>
</head>
<body>
<h1>There is a question coming from the server</h1>
<h2 th:text="${message}"></h2>
</body>
</html>
